.App {
	text-align: center;
}

.movieList{
	display: grid;
	margin: 30px 15px;
	gap: 15px;
	grid-template-columns: repeat(5, 1fr);
}

.movieItems {
	color: #fff;
	padding: 3px;
	min-height: 350px;
	border-radius: 8px;
	background-color:midnightblue;
}

.navBar {
	margin-top: 3vh;
}

.link-button {
	text-decoration: none;
	background-color:steelblue;
	color: #fff;
	padding: 10px 30px;
	border-radius: 8px;
	margin: 0 10px;
}
